
{% extends 'layout.twig'%}

{% block title %}Home{% endblock %}

{% block content %}

    <header class="row header">
        <img src="images/banner-1.png" alt="Fútbol">
        <!--<div class="owl-carousel owl-theme">
            <img src="images/banner-2.png" alt="Ecuavoley">
            <img src="images/banner-3.png" alt="Basket">
        </div>-->
    </header>
    <section class="section">
        <div class="row">
            <div class="small-12 medium-6 columns">
                {{ include('partials/alerts.twig')}}
            </div>
        </div>
        <form action="store" method="POST" id="lead" data-abide novalidate>
            <div class="row">
                <div class="small-12 column text-center">
                    <h1>INSCRIPCIÓN ONLINE</h1>
                </div>
                <div class="small-12 medium-6 columns">
                    <label>
                        * Nombre:
                        <input type="text" name="name" required>
                        <span class="form-error">Este campo es requerido.</span>
                    </label>
                </div>
                <div class="small-12 medium-6 columns">
                    <label>
                        * Apellido:
                        <input type="text" name="last_name" required>
                        <span class="form-error">Este campo es requerido.</span>
                    </label>
                </div>
                <div class="small-12 medium-6 columns">
                    <label>
                        * Nombre del equipo:
                        <input type="text" name="name_team" required>
                        <span class="form-error">Este campo es requerido.</span>
                    </label>
                </div>
                <div class="small-12 medium-6 columns">
                    <label>
                        * Email:
                        <input type="email" name="email" required>
                        <span class="form-error">Este campo es requerido.</span>
                    </label>
                </div>
                <div class="small-12 medium-6 columns">
                    <label>
                        * Celular:
                        <input type="text" name="phone" required>
                        <span class="form-error">Este campo es requerido.</span>
                    </label>
                </div>
                <div class="small-12 medium-6 columns">
                    <!--<label>Sube la imágen del depósito o transaferencia de la inscripción</label>
                    <label for="imgInscription" class="button hollow secondary">Subir imágen</label>
                    <input type="file" id="imgInscription" name="img_inscription" class="show-for-sr">-->
                </div>
                <div class="small-12 medium-8 medium-offset-2 columns">
                    <label>
                        Comentario:
                        <textarea name="message" rows="5"></textarea>
                    </label>
                </div>
                <div class="small-12 text-center columns">
                    <button class="button hollow" type="submit">Enviar Inscripción</button>
                </div>
            </div>
        </form>
    </section>

{% endblock %}
