<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}{{metas.meta_title}}{% endblock %}</title>

        <!--STYLES-->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style.css">

        <!--META TAGS-->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="1er campeonato de egresados y ex alumnos Benito Juárez">
        <meta name="author" content="Banda de guerra de egresados y ex alumnos Benito Juárez">
        <link id="favicon" rel="shortcut icon" href="/images/favicon.png" type="image/png">

        <!--META TAGS FACEBOOK-->
        <meta property="og:title" content="Banda de guerra de egresados y ex alumnos Benito Juárez">
        <meta property="og:description" content="1er campeonato de egresados y ex alumnos Benito Juárez">
        <meta property="og:img" content="https://inscripciones.egresadosbj.org/images/imagen-campeonato.jpg">
        <meta property="og:site_name" content="Formulario de Inscripción">
        <meta property="og:locale" content="EC:es">
    </head>
    <body>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script src="js/app.min.js"></script>
    </body>
</html>
