
{% extends 'layout.twig'%}

{% block title %}Gracias por inscribirte{% endblock %}

{% block content %}
	<header class="row header align-center">
        <img src="images/logo.png" class="header__logo" alt="Banda de guerra y ex integrantes BJ">
    </header>
	<section class="section thanks">
	    <div class="row">
	        <div class="small-12 columns text-center">
	            <h2>Gracias por inscribirte.</h2>
				<h4>Pronto nos comunicaremos contigo vía email o teléfono. <br> Para validar los datos de tu equipo.</h4>
	        </div><!--FIN COLUMN-->
	    </div><!--FIN ROW-->
	</section><!--FIN SECTION-->

{% endblock %}


